<footer class="footer">
  <div class="status-bar">
    <div class="status-item">
      <i class="fas fa-code-branch"></i>
      不规则海，轴对称山
    </div>
    <div class="status-item">
      <i class="fas fa-sync"></i>
      <%= config.author %>
    </div>
    <div class="status-item">
      <i class="fas fa-clock"></i>
      <%= date(Date.now(), 'YYYY-MM-DD') %>
    </div>
    <div class="status-item">
      NXYZ.ORG&nbsp; <a href="https://nxyz.org"> Otto</a>
    </div>
    <div class="status-item github">
      <a href="<%= config.github || 'https://github.com/nxyzorg' %>" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
